<template>
  <v-app-bar app color="primary" dark clipped-left>
    <div class="d-flex align-center">
      <v-app-bar-nav-icon
        v-if="!$store.state.drawer"
        @click="$store.commit('SET_DRAWER', true)"
      ></v-app-bar-nav-icon>

      <v-img
        alt="easy2employee"
        class="shrink mr-2"
        src="@/assets/logo.png"
        transition="scale-transition"
        width="150"
      />
    </div>

    <v-spacer></v-spacer>

    <div class="mx-4 language-dropdown">
      <v-select hide-details v-model="language" :items="languages"></v-select>
    </div>

    <div class="user-details">
      <p class="text"><v-icon>mdi-account</v-icon> {{ user.first_name }}</p>
      <v-menu transition="slide-y-transition" bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-btn icon v-bind="attrs" v-on="on">
            <v-icon>mdi-dots-vertical</v-icon>
          </v-btn>
        </template>

        <v-list>
          <v-list-item v-for="(item, i) in items" :key="i" @click="item.action">
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
    </div>

    <template v-slot:extension>
      <v-spacer></v-spacer>
      <v-btn color="secondary" rounded class="mr-4">Add Candidate</v-btn>
      <v-btn color="secondary" rounded>Post a Job</v-btn>
    </template>
  </v-app-bar>
</template>

<script>
import { mapState } from "vuex";
export default {
  name: "app-header",
  data() {
    return {
      language: "en",
      languages: [
        { text: "English | en", value: "en" },
        { text: "Urdu | ur", value: "ur" },
      ],
    };
  },
  computed: {
    ...mapState(["user"]),
    items() {
      return [
        {
          title: "Profile",
          id: "Profile",
          action: () => console.log("Will go to profile"),
        },
        {
          title: "Logout",
          id: "Logout",
          action: () => {
            localStorage.removeItem("token");
            this.$router.push("/login");
          },
        },
      ];
    },
  },
};
</script>

<style lang="scss" scoped>
.language-dropdown {
  max-width: 200px;
}
</style>
