<template>
  <v-navigation-drawer
    v-model="drawer"
    :mini-variant="false"
    :clipped="false"
    color="primary"
    fixed
    app
    style="z-index:4;padding-top:120px;"
  >
    <v-list dark>
      <v-list-item v-for="(item, i) in items" :key="i" :to="item.to" router>
        <v-list-item-action>
          <v-icon>{{ item.icon }}</v-icon>
        </v-list-item-action>
        <v-list-item-content>
          <v-list-item-title v-text="item.title" />
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
export default {
  name: "SideBar",
  data() {
    return {
      items: [
        {
          icon: "mdi-view-dashboard",
          title: "Dashboard",
          to: "/",
        },
      ],
    };
  },
  computed: {
    drawer: {
      get() {
        return this.$store.state.drawer;
      },
      set(value) {
        this.$store.commit("SET_DRAWER", value);
      },
    },
  },
};
</script>

<style lang="scss" scoped></style>
