<template>
  <v-data-table
    :headers="headers"
    :items="users"
    :search="search"
    :loading="loading"
    loading-text="Loading...! Please Wait..."
    no-results-text="Nothing found"
    no-data-text="No data available"
    item-key="name"
    height="200"
    class="elevation-1 mb-5"
  >
    <!-- class="elevation-1" -->
    <template v-slot:top>
      <div class="table-header">
        <h5 class="mr-4">Upcomming Interviews</h5>
        <v-text-field
          v-model="search"
          placeholder="Search here"
          hide-details
          class="m-0 p-0 text-field"
          prepend-inner-icon="mdi-magnify"
        ></v-text-field>
      </div>
    </template>
  </v-data-table>
</template>

<script>
import moment from "moment";
export default {
  data() {
    return {
      search: "",
      loading: false,
      users: [
        {
          name: "Haroon",
          title: "Vue developer",
          date: moment().format("lll"),
        },
        {
          name: "Ali",
          title: "Vue developer",
          date: moment().format("lll"),
        },
        {
          name: "Hamza",
          title: "Vue developer",
          date: moment().format("lll"),
        },
        {
          name: "Aanif",
          title: "Vue developer",
          date: moment().format("lll"),
        },
      ],
    };
  },
  computed: {
    headers() {
      return [
        {
          text: "Candidate Name",
          align: "start",
          value: "name",
        },
        {
          text: "Title",
          value: "title",
          sortable: true,
        },
        { text: "Time and Date", value: "date" },
      ];
    },
  },
  methods: {},
};
</script>

<style lang="scss" scoped>
.table-header {
  display: flex;
  align-items: center;
  background-color: #cbd9e2;
  padding: 1rem;

  .text-field {
    max-width: 200px;
  }
}

h5 {
  font-weight: 500;
}
</style>
