<template>
  <div class="card" :style="`width:${width};max-width:${maxWidth}`">
    <div class="card--header" v-if="title">
      <div class="title">
        <p class="mb-0">{{ title }}</p>
        <v-chip
          v-if="badge"
          class="ml-2"
          x-small
          :color="badgeColor"
          :text-color="badgeTextColor"
        >
          {{ badge }}
        </v-chip>
      </div>
      <div cl ass="action" v-if="!hideCollapse">
        <v-btn text class="secondary--text" :to="headerLink" v-if="headerLink"
          >view all <v-icon color="secondary">mdi-menu-right</v-icon></v-btn
        >

        <v-btn icon @click="hideBody = !hideBody" v-else>
          <v-icon>{{ `mdi-menu-${!hideBody ? "down" : "up"}` }}</v-icon>
        </v-btn>
      </div>
    </div>

    <transition name="fade" mode="out-in">
      <div class="card--body" v-if="hideBody" :key="loading">
        <loader :loading="loading" :overlay="false">
          <slot />
        </loader>
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  name: "card",
  props: {
    title: {
      type: String,
      default: "",
    },
    badge: {
      type: String,
      default: "",
    },
    badgeColor: {
      type: String,
      default: "#6c757d",
    },
    badgeTextColor: {
      type: String,
      default: "#fff",
    },
    headerLink: {
      type: String,
      default: "",
    },
    hideCollapse: {
      type: Boolean,
      default: false,
    },
    width: {
      type: String,
      default: "100%",
    },
    maxWidth: {
      type: String,
      default: "100%",
    },
    loading: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      hideBody: true,
    };
  },
};
</script>

<style lang="scss" scoped>
.card {
  border: none;
  overflow: hidden;
  margin-bottom: 1.5rem;

  &--header {
    background-color: #cbd9e2;
    padding: 0.6rem 1.25rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;

    .title {
      display: flex;
      align-items: center;

      p {
        font-size: 0.8rem;
      }
    }

    .action {
      a {
        text-decoration: none;
      }
    }
  }

  &--body {
    background-color: #f3f3f3;
    padding: 1.25rem;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
