<template>
  <div>
    <v-row>
      <v-col cols="12" sm="12" md="8">
        <loader :loading="statsLoading" height="220px" :overlay="false" centere>
          <div class="card-lists mb-10">
            <DashboardCard
              v-for="(detail, index) in DASHBOARD_CARDS"
              :key="index"
              :detail="detail"
            />
          </div>
        </loader>

        <UpcommingInterviews />

        <IncommingEmail />

        <PublishedJob />

        <NewApplications />
      </v-col>
      <v-col cols="12" sm="12" md="4">
        <AIEngine />

        <Funnel />

        <TimeToHire />

        <ApplicationSource />

        <ApplicationStatus />
      </v-col>
    </v-row>
  </div>
</template>

<script>
import DashboardCard from "@/components/dashboard-card";
import UpcommingInterviews from "@/components/datatables/upcomming-interviews";
import IncommingEmail from "@/components/datatables/incomming-email";

import PublishedJob from "@/components/dashboard-widgets/published-job";
import NewApplications from "@/components/dashboard-widgets/new-applications";

import AIEngine from "@/components/dashboard-widgets/ai-engine";
import Funnel from "@/components/dashboard-widgets/funnel";
import TimeToHire from "@/components/dashboard-widgets/time-to-hire";
import ApplicationSource from "@/components/dashboard-widgets/application-source";
import ApplicationStatus from "@/components/dashboard-widgets/application-status";

import { mapState, mapActions, mapGetters } from "vuex";

export default {
  name: "Dashboard",
  components: {
    DashboardCard,
    UpcommingInterviews,
    IncommingEmail,
    AIEngine,
    Funnel,
    TimeToHire,
    ApplicationSource,
    ApplicationStatus,
    PublishedJob,
    NewApplications,
  },
  data() {
    return {};
  },
  computed: {
    ...mapState(["user", "statsLoading"]),
    ...mapGetters(["DASHBOARD_CARDS", "GET_APPLICATION_STATS"]),
  },
  methods: {
    ...mapActions(["FETCH_STATS"]),
  },
  created() {
    this.FETCH_STATS();
  },
};
</script>

<style lang="scss" scoped>
.card-lists {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 1rem;
}
</style>
