<template>
  <Card title="Top Matches by AI - Engine" badge="Top 5" headerLink="ai-link">
    <div class="top-matches-wrap">
      <scrollable horizontal>
        <ul>
          <li v-for="n in 5" :key="n">
            <div class="chart">
              <v-progress-circular
                :rotate="360"
                :size="55"
                :width="5"
                :value="90"
                color="accent"
              >
                90%
              </v-progress-circular>
            </div>
            <div class="information">
              <div class="rating">
                <v-icon color="warning" small v-for="n in 5" :key="n"
                  >mdi-star</v-icon
                >
              </div>
              <p>
                Salman Shah <br />
                Senior UI/UX Designer
              </p>
              <router-link to="#"
                >view details <v-icon>mdi-menu-right</v-icon>
              </router-link>
            </div>
          </li>
        </ul>
      </scrollable>
    </div>
  </Card>
</template>

<script>
import scrollable from "@/components/scrollable/scrollable";
export default {
  components: {
    scrollable,
  },
};
</script>

<style lang="scss" scoped>
.top-matches-wrap {
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;

    li {
      display: flex;
      align-items: center;
      border-right: 1px solid #d3d4d6;
      flex: 0 0 auto;
      max-width: 180px;
      padding-right: 10px;
      padding-left: 10px;

      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        border-right: none;
        padding-right: 0;
      }

      .chart {
        flex-basis: 30%;
        img {
          max-width: 100%;
        }
      }
      .information {
        padding-left: 10px;
        flex-basis: 70%;
        .rating {
          margin-bottom: 4px;
          img {
            width: 16px;
          }
        }
        p {
          margin: 0;
          line-height: 1.3em;
          font-size: 0.8em;
        }

        a {
          color: #707a84;
          font-size: 0.8em;
          text-decoration: none;
        }
      }
    }
  }
}
</style>
