<template>
  <Card title="Application Sources">
    <v-chart class="chart" :option="option" />
  </Card>
</template>

<script>
import { use } from "echarts/core";
import { CanvasRenderer } from "echarts/renderers";
import { GaugeChart } from "echarts/charts";
import { TooltipComponent, AxisPointerComponent } from "echarts/components";
import VChart, { THEME_KEY } from "vue-echarts";

use([CanvasRenderer, GaugeChart, TooltipComponent, AxisPointerComponent]);

export default {
  components: {
    VChart,
  },
  provide: {
    [THEME_KEY]: "light",
  },
  data() {
    return {
      option: {
        series: [
          {
            type: "gauge",
            startAngle: 90,
            endAngle: -270,
            pointer: {
              show: false,
            },
            progress: {
              show: true,
              overlap: false,
              roundCap: true,
              clip: false,
              itemStyle: {
                borderWidth: 1,
                borderColor: "#464646",
              },
            },
            axisLine: {
              lineStyle: {
                width: 40,
              },
            },
            splitLine: {
              show: false,
              distance: 0,
              length: 10,
            },
            axisTick: {
              show: false,
            },
            axisLabel: {
              show: false,
              distance: 50,
            },
            data: [
              {
                value: 20,
                name: "Perfect",
                title: {
                  offsetCenter: ["0%", "-30%"],
                },
                detail: {
                  offsetCenter: ["0%", "-18%"],
                },
              },
              {
                value: 40,
                name: "Good",
                title: {
                  offsetCenter: ["0%", "0%"],
                },
                detail: {
                  offsetCenter: ["0%", "12%"],
                },
              },
              {
                value: 60,
                name: "Commonly",
                title: {
                  offsetCenter: ["0%", "30%"],
                },
                detail: {
                  offsetCenter: ["0%", "42%"],
                },
              },
            ],
            title: {
              fontSize: 14,
            },
            detail: {
              width: 40,
              height: 10,
              fontSize: 12,
              color: "auto",
              borderColor: "auto",
              borderRadius: 20,
              borderWidth: 1,
              formatter: "{value}%",
            },
          },
        ],
      },
    };
  },
};
</script>

<style lang="scss" scoped>
.chart {
  height: 400px;
}
</style>
