<template>
  <Card title="Time to Hire">
    <div class="text-center">
      <h1>560</h1>

      <p class="subtitle"><v-icon>mdi-clock</v-icon> Days on the average</p>
    </div>
  </Card>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.text-center {
  h1 {
    font-size: 5rem;
    font-weight: 900;
  }

  p.subtitle {
    font-size: 1rem;
  }
}
</style>
