<template>
  <v-app>
    <router-view />

    <notifications
      group="backend-error"
      position="top right"
      animation-type="velocity"
      class="error-notification"
    />

    <v-overlay :value="appLoading">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>
  </v-app>
</template>

<script>
import { mapState } from "vuex";
export default {
  name: "App",

  data: () => ({
    //
  }),
  computed: {
    ...mapState(["appLoading"]),
  },
};
</script>
