@import "./components/variables";

.v-application p {
  margin: 0;
}

p.text {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
  display: inline-block;
}

.m-0 {
  margin: 0 !important;
}

.p-0 {
  padding: 0 !important;
}
