<template>
<div class="relative">
        <Header />
        <Sidebar/>
    <v-main>
        <v-container>
            <router-view></router-view>
        </v-container>
    </v-main>
</div>
</template>

<script>
import Header from '@/layouts/components/header';
import Sidebar from '@/layouts/components/sidebar'
    export default {
        name:'DashboardLayout',
        components:{
            Header,Sidebar
                
        }
    }
</script>

<style lang="scss" scoped>
.relative{
    position:relative
}
</style>