<template>
  <div class="login-container">
    <Card title="Login" hide-collapse width="90%" max-width="550px">
      <v-text-field
        v-model="email"
        type="email"
        label="Email"
        :rules="[rules.required]"
      ></v-text-field>

      <v-text-field
        v-model="password"
        :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
        :rules="[rules.required, rules.min]"
        :type="showPassword ? 'text' : 'password'"
        name="input-10-1"
        label="Enter Password"
        @click:append="showPassword = !showPassword"
      ></v-text-field>

      <v-btn
        @click="login"
        color="secondary"
        :disabled="loading"
        :loading="loading"
        >Login</v-btn
      >
    </Card>
  </div>
</template>

<script>
import { mapMutations } from "vuex";
export default {
  name: "Login",
  data() {
    return {
      email: "",
      password: "",
      showPassword: false,
      loading: false,
      rules: {
        required: (value) => !!value || "Required.",
        min: (v) => v.length >= 8 || "Min 8 characters",
      },
    };
  },
  methods: {
    ...mapMutations(["SET_USER"]),
    async login() {
      try {
        this.loading = true;
        if (!this.email || !this.password) return;

        const resp = await this.axios.post("/login", {
          email: this.email,
          password: this.password,
        });
        const user = resp.data.user;
        this.SET_USER(user);
        this.$router.push("/");
      } catch (error) {
        console.log(error);
      } finally {
        this.loading = false;
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.login-container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: grid;
  place-items: center;
}
</style>
